
<h2>  Notice </h2>
<div class="box box-primary">
  <div class="container-fluid" >
    </br>
    <label for="subject">Subject:</label>
    <%= @notice.subject%></br></br>
    <label for="subject">Content:</label>
    <%= @notice.content%></br></br>
  </div>
</div>
<td><%= link_to "Back", "/my_notices" ,class: "btn btn-primary"%></br></br>
