<div class="box box-primary">
  <div class="container-fluid" >
    </br>
    <%= form_for(@role) do |l|%>
      <label for="user_role">Role: </label>
      <%= l.text_field :user_role ,id: "user_role"%></br></br>
      <%= l.submit "Submit", onclick: "return to_check()", class: "btn btn-primary" %>
    <% end%></br></br>
  </div>
</div>
