<li class="bg-green dropdown messages-menu" id="check_in">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="checkin()">
    <i class="fa fa-thumbs-o-up" style="padding-right: 10px; padding-left: 10px;"><strong> Check in</strong></i>
  </a>
</li>
