<li class="bg-red dropdown messages-menu" id="check_out">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="checkin()">
    <i class="fa fa-flag-o" style="padding-right: 10px; padding-left: 10px;"><strong> Check out</strong></i>
  </a>
</li>
